.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(150, 189, 231);
}

.datos{
    height: 70rem;   
    width: 20rem;         
    background-color: rgba(26, 69, 161, 0.664);
}

.datosPersonales{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos > .datosPersonales > img{
    padding: 5% 5% 5% 5%;
    border-radius: 40%;
    width: 10rem;
    height: 10rem;    
}

.datos > .datosPersonales > H1{
    margin: 0%;   
    text-align: center;
}

.datos > .otros > h3{
    text-decoration: underline;
    padding-top: 3%;
    padding-left: 8%;
    font-style: oblique;
}

ul{  
    padding-left: 9%;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

.presentacion{
    width: 100%; 
    height: 300px;   
    padding-top: 0%;
}

.presentacion > img{
    width: 100%;
    height: 275px;  
    opacity: 0.8;
}

.presentacion > .trabajos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px;
}

.presentacion > .trabajos > .d-flex h3{
    text-decoration: underline;
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;
    font-style: italic;
}   

.presentacion > .trabajos > ul{
    padding-left: 25px;
    margin-bottom: 5px;
}

.presentacion > .trabajos > ul > li{
    list-style-type: disc;
}

.presentacion > .trabajos > p{
    
    text-align: justify;
    padding: 5em 0;
    text-align: center;
}

p{
    padding-left: 10px;
    margin-bottom: 0%;
}

.antecedentes{   
    width: 50rem;   
}

.flex-container-portafolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: rgb(48, 59, 59);
    text-align: justify;
}

.texto-portafolio img{
    height: 300px;
    width: 200px;
    text-align: justify;
    border: black solid px;
    object-fit: cover;
    border: rgb(197, 197, 197) solid 0px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}


.texto-portafolio p{
    color: rgb(122, 122, 122);
    margin-top: 0px;
    align-content: flex-end;
    text-align: center;
}    

footer{
    background-color: rgb(230, 229, 240);
    width: 100%;
    height: 30px;
    text-align: center;
}

footer > p{
    margin: 0px;
}
    